<!DOCTYPE html>
<html ng-app='goodEats'>
  <head>
    <meta charset="utf-8">
    <title>Goodeats</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
  </head>
  <body ng-app="goodEats">
    <div class="prices" ng-controller="PriceFilterController">
      <input type="text" ng-model="price" placeholder ="price  category">
      <button ng-click="priceFilter()"> submit </button>
    </div>
    <br>
    <br>
    <button ng-model="openEstab" ng-change="openEstab" ng-controller="openEstabController" ng-click="toggleOpenEstablishments()">Only open establishments </button>
    <div class = "foodSearch" ng-controller="inputController">
      <input type="text" ng-model="query.term" placeholder="habe Bier?" />
      <input type="text" ng-model="query.location" placeholder ="Where are you?" />
      <button ng-click="search()"> submit </button>
    </div>
    <ul ng-controller="displayController">
      <li ng-repeat="business in data">
        <img ng-src="{{business.image}}">
        name: {{business.name}}
        <br>
        ratings: {{business.rating}}
        <br>
        reviews: {{business.review_count}}
        <br>
      </li>
    </ul>
    <div class="prices" ng-controller="filterController">
      <input type="text" ng-model="price" placeholder ="price  category">
      <button ng-click="priceFilter()"> submit </button>
    </div>
    <button type="submit" class="btn btn-default" ng-click="vm.submit(vm.user)">Submit</button>
    <br>
    <br>
    <button ng-model="openEstab" ng-change="openEstab" ng-controller="openEstabController" ng-click="toggleOpenEstablishments()">Filter open establishments </button>
</body>
  <script src="app.js" charset="utf-8"></script>
  <script src="services/services.js" charset="utf-8"></script>
  <script src="locator/locationController.js" charset="utf-8"></script>
  <script src="filters/priceFilter.js"></script>
  <script src="filters/radiusFilter.js"></script>
  <script src="foodSearch/foodSearchController.js" charset="utf-8"></script>
  <script src="openEstablishments/openEstabController.js" charset="utf-8"></script>
</html>
